:root {
    --background: #0F0529;
    --secound-background: #4A2574;
    --primary: #7338A0;
    --accent: #924DBF;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", serif;
    color: white;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75vw;
    min-height: 75vh;
    max-height: 75vh;
    background-color: var(--secound-background); 
    border-radius: 10px;
}

.search-title {
    margin-top: 25px;
    margin-bottom: 10px;
}

.search-location {
    font-size: 18px;
    text-align: center;
}

.search-box {
    display: flex;
    align-items: center;
    width: 275px; 
    margin: 0 auto; 
    border-radius: 30px;
    overflow: hidden;
}

.search-box input {
    flex-grow: 1; 
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    width: 100%; 
}

.search-box .search-button {
    display: flex;
    color: white;
    padding: 10px;
    cursor: pointer;
    background-color: var(--primary);
    transition: background-color 0.3s;
}

.search-box .search-button:hover {
    background-color: var(--accent);
}
  
.bad-location {
    border: 2px red solid;
}

@media (max-width: 425px) {
    .search-box {
        width: 200px;
    }
}

@media (min-width: 575px) {
    main {
        width: 50vw;
    }
}

@media (min-width: 1024px) {
    main {
        width: 35vw;
    }
}

@media (min-width: 1440px) {
    main {
        width: 30vw;
    }
}

#weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    margin-top: 50px;
}

.head-line {
    width: 100%;
}

.city-name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.today {
    background-color: var(--accent);
    width: 75%;
    border-radius: 5px;
    margin-top: 15px;
}

.main-sec {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon {
    font-size: 76px;
}

.temp-div {
    margin-top: -10px;
    font-size: 28px;
}

.temp-div svg {
    margin-right: 5px;
}

.date-time {
    margin-top: 5px;
}

.details {
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.details div svg {
    margin-right: 5px;
}


.next-day-wrapper {
    display: flex;
    min-width: 100%;
    max-width: 100%;
    margin-top: 35px;
    overflow-x: scroll;
}

.next-day {
    min-width: 30%;
    padding: 15px;
    margin-left: 25px;
    background-color: var(--accent);
    border-radius: 5px;
}

.icon-small {
    font-size: 42px;   
}

.icon-small svg {
    margin-right: 0px !important;
}

.main-small {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.date-time-small {
    margin-top: -5px;
    margin-bottom: 5px;
}

.next-day div svg {
    margin-right: 5px;
}

@media (max-width: 480px) {
    .icon-small {
        font-size: 32px;
    }

    .next-day {
        font-size: 12px;
    }
}


@media (max-height: 650px) {
    header {
        font-size: 20px;
    }

    .search-title {
        font-size: 15px;
        margin-top: 10px;
    }

    .search-box {
        height: 30px;
    }

    .search-box input {
        font-size: 15px;
    }

    #weather {
        margin-top: 7.5px;
    }

    .city-name {
        font-size: 16px;
    }

    .today {
        margin-top: 7.5px;
    }

    .icon {
        font-size: 36px;
    }

    .temp-div {
        font-size: 16px;
        margin-top: -5px;
    }

    .date-time {
        font-size: 12px;
    }

    .details {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .next-day {
        display: none;
    }
}

@media (min-height: 650px) and (max-height: 850px) {
    header {
        font-size: 24px;
    }

    .search-title {
        font-size: 18px;
        margin-top: 15px;
    }

    .search-box {
        height: 35px;
    }

    .search-box input {
        font-size: 16px;
    }

    #weather {
        margin-top: 10px;
    }

    .city-name {
        font-size: 18px;
    }

    .today {
        margin-top: 10px;
    }

    .icon {
        font-size: 48px;
    }

    .temp-div {
        font-size: 24px;
        margin-top: -5px;
    }

    .date-time {
        font-size: 16px;
    }

    .details {
        font-size: 16px;
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }
}